// Font Family
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

// Variables
$primary: #4f12d1;
$secondary: #f9f9f2;

$font-primary: "Inter", sans-serif;

$light: #ffffff;
$info: #5f2dcf;
$navbar-nav-link-padding-x: 1rem;
$navbar-padding-y: 0.9rem;

body,
html {
  font-family: $font-primary;
}

.nav-link {
  color: #000;
  font-weight: 500;

  &:hover {
    color: $primary;
  }
}

.nav-cta {
    font-weight: 500;
    background-color: $primary;
    color: white;

    &:hover {
        color: $primary;
        background: white;
    }
}

.view-example-cta {
  color: white;

  &:hover {
    color: $primary;
    background-color: white;
    border: 1px black;
    border-radius: 1rem;
  }

}

.why-section {
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  .hero-cta {
    width: 100%;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    a {
      width: 100%;
    }
  }
}
