// Font Family
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

// Variables
$primary: #4f12d1;
$secondary: #f9f9f2;
$light: #ffffff;
$info: #5f2dcf;

$font-primary: "Inter", sans-serif;

body,
html {
  font-family: $font-primary;
}

.nav-link {
  color: #000;
  font-weight: 500;

  &:hover {
    color: $primary;
  }
}

.nav-cta {
    font-weight: 500;
    background-color: $primary;
    color: white;

    &:hover {
      color: $primary;
      background-color: white;
      border: 1px solid $primary;
      border-radius: 5px;
    }

}

.why-section {
  min-height: 75vh;
}

.dvs-cta {
  font-weight: 500;
  background-color: white;
  color: $primary;
  border-radius: 5px;

  &:hover {
    color: white;
    background-color: $primary;
    border: 1px solid white;
  }
}

.portfolio {
  border-radius: 10px;
}

.card-title {
  color: $primary;
}

.card-footer {
  background-color: white;
}

.testimonial-btn {
  color: $primary;

  &:hover {
    background: $primary;
    color: $light;
  }
}

footer {
  li a {
    &:hover {
      color: $primary;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero-cta {
    width: 100%;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    a {
      width: 100%;
    }
  }
  .diversify-cta {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    a {
      width: 100%;
    }
  }
}
